{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-light" style="background-color: #043c75;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <h1 style="color:White;" >MiHAD</h1>
            <h3 style="color:white;" >Minor Histocompatibility Antigen Database</h3>
        </div>
    </div>
    <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" >
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.pre_miha') }}">Predicted MiHA</a></li>
                <li><a href="{{ url_for('main.known_miha') }}">Known MiHA</a></li>
                <li><a href="{{ url_for('main.index') }}">Peptide mapping</a></li>
                <li><a href="{{ url_for('main.index') }}">Peptide blast</a></li>
                <li><a href="{{ url_for('main.index') }}">Data Submission</a></li>
                <li><a href="{{ url_for('main.qAndA') }}">Q&A</a></li>
            </ul>

        </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}