{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome!</h1>
    <p>The MiHAD is an immunoinformatics database of minor histocompatibility antigens. It includes comprehensive information about experimentally validated MiHAs and also includes the predicted MiHAs. Initially, we developed a pipeline to extract the differential missense mutations from 205 donor-recipient paired whole genome sequencing data, then predicted their binding affinity with HLA molecules.
This database is developed by Wei Wang (wwang@nmdp.org), at Bioinformatics Research, CIBMTR.</p>
     <h2>Database Overview</h2>
    <img src="/Users/wwang/Desktop/mihiWeb/pic/DesignOfMiHAD.png" alt="Design of MiHAD">
</div>
{% endblock %}